.database-page {
    #htwk-logo {
        height: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    h1 {
        margin: 40px 0 0;
        color: @colorPrimary;
    }
    .rectangle:hover {
      outline: 1px solid red;
    }

    .rectangle:active {
      outline: 2px solid red;
    }

    .ul {
      position: fixed;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 250px;
      top: 70;
      left: 0;
    }

    .li {
      display: block;
      color: blue;
      padding: 8px 16px;
      height: 30;
      border: 1px solid white;
      background-color: #bbbbbb;
      border-radius: 25px;
      text-decoration: none;
      width: 150px;
      left: 30px;

    }

    /*#remove {
    display: block;
    color: blue;
    padding: 8px 16px;
    height: 30;
    border: 1px solid white;
    background-color: red;
    border-radius: 25px;
    text-decoration: none;
}*/

    .rectangle {
      max-width: 150px;
      max-height: 150px;
      background: white;
      border-width: 2;
      border-color: blue;
      border-style: solid;
      border-radius: 15px;
      position: absolute;
      top: 220px;
      left: 130px;
      height: 80px;
    }
    
}