.graph-page {
    #htwk-logo {
        height: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    h1 {
        margin: 40px 0 0;
        color: @colorPrimary;
    }
    a {
        color: @colorPrimary;
    }
}