.home-page{
    .login-headline {
        color: @colorPrimary;
        font-size: 120px;
        font-weight: 300;
        margin-top: -30px;
    }
    .login-pre-headline {
        color: @colorPrimary;
        font-size: 20px;
        font-weight: 400;
    }
    .login-bottom-links {
        color: @colorLightGrey;
    }
    a {
        color: @colorLightGrey !important;
    }
    .card-container{
        margin-top:130px; 
        position:absolute; 
        top:0; 
        bottom:0; 
        left:0; 
        right:0;
    }
}
