.header-graph-container {
    padding: 30px 50px 130px 50px;
    color: #fff;
    width: 100%;

    h1.headline {
        font-size: 45px !important;
        font-weight: 300;
    }

    .bo-r-0 {
        border-right: 0;
    }

    .bora-l-10 {
        border-radius: 10px 0 0 10px;
    }

    .bora-r-10 {
        border-radius: 0 10px 10px 0;
    }
}