.header-graph-container {
    background: #4c64ff;
    background: linear-gradient(0deg, #7684ff, #4c64ff);
    padding: 30px 50px 150px 50px;
    color: #fff;

    h1.headline {
        font-size: 45px !important;
        font-weight: 300;
    }
}