.detail-controls {
    .activate-button{
        position: absolute;
        right: 30px;
        top: 100px;

        .v-icon {
            font-size: 30px !important;
            transform: rotate(-90deg);
        }
    }

    .detail-card {
        position: absolute;
        right: 30px;
        top: 100px;
        .btn-close {
            position: absolute;
            top: 5px;
            right: 5px;;
        }
    }
}