.graph {
  background-color: #f8f8fa;
  .content-card {
    margin-top: -107px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 20px !important;

    .card-top {
      background-color: #f8f8fa;
      .v-card {
        border-radius: 20px !important;
      }
    }

    @media(min-width: 1400px){
      .card-top {
        padding: 0 10vw;
      }
    }

    .card-bottom {
      background-color: #ffffff;
    }
  }

  @media(min-width: 1400px){
    .card-top {
      padding: 0 10vw;
    }
  }
}