.darkmode-layer,
.darkmode-toggle {
  z-index: 500;
}

.darkmode--activated .darkmode-ign {
  mix-blend-mode: difference;
  isolation: isolate;
}

.darkmode--activated .hueshift{
  filter: hue-rotate(170deg);
}

.darkmode--activated .blacktext{
  color:#222222;
  outline-color: @colorBlue;
}

.darkmode--activated button.blackbtn{
  background-color: rgb(32, 118, 204) !important;
  color:#eeeeee !important;
}

.darkmode--activated button.blackbtngraph{
  background-color: rgb(32, 118, 204) !important;
  color:#eeeeee !important;
}