html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

#app {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: @colorBackground;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
    min-height: 100%;
}

.dotted-background {
    background: url(../../img/bgcircle.png);
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, width, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}